### Projeto Detector de Fake News - PyCaret ###

**Importação das bibliotecas**

In [1]:
import pandas as pd
import numpy as np
from pycaret.nlp import *
from nltk.corpus import stopwords
from minio import Minio
import warnings
warnings.filterwarnings('ignore')

In [2]:
client = Minio("localhost:9000",
              access_key = "minioadmin",
              secret_key = "minioadmin",
              secure = False)

**Baixa arquivo no Minio e lê com Pandas**

In [3]:
client.fget_object("processado",
                  "etl_fakenews.parquet",
                  "processado/etl_fakenews.parquet")

news = pd.read_parquet("processado/etl_fakenews.parquet")

In [6]:
news.head()

,text,subject,date,Status
0,"As U.S. budget fight looms, Republicans flip t...",politicsNews,"December 31, 2017",True
1,U.S. military to accept transgender recruits o...,politicsNews,"December 29, 2017",True
2,Senior U.S. Republican senator: 'Let Mr. Muell...,politicsNews,"December 31, 2017",True
3,FBI Russia probe helped by Australian diplomat...,politicsNews,"December 30, 2017",True
4,Trump wants Postal Service to charge 'much mor...,politicsNews,"December 29, 2017",True

**Etapa de NLP (Natural Language Processing)**

**Modelo utilizando LDA**

In [7]:
news_setup  = setup(data = news,
                       target = 'text',
                      session_id = 42,
                      log_experiment = True,
                      experiment_name = 'log_nlp_15_07_22')

In [8]:
model_lda = create_model('lda', multi_core = True)

In [9]:
lda_data = assign_model(model_lda)

In [10]:
lda_data.head()

,text,subject,date,Status,Topic_0,Topic_1,Topic_2,Topic_3,Dominant_Topic,Perc_Dominant_Topic
0,budget fight loom flip fiscal script conservat...,politicsNews,"December 31, 2017",True,0.955739,0.000890,0.000892,0.042479,Topic 0,0.96
1,military people allow first time enlist start ...,politicsNews,"December 29, 2017",True,0.572835,0.162470,0.263579,0.001116,Topic 0,0.57
2,senior republican senator let investigation li...,politicsNews,"December 31, 2017",True,0.207820,0.601269,0.001652,0.189259,Topic 1,0.60
3,help australian diplomat campaign tell austral...,politicsNews,"December 30, 2017",True,0.060445,0.917274,0.020272,0.002009,Topic 1,0.92
4,want postal_service charge much call charge mu...,politicsNews,"December 29, 2017",True,0.818576,0.136466,0.042884,0.002074,Topic 0,0.82

In [11]:
lda_data.drop(['text', 'subject', 'date','Dominant_Topic', 'Perc_Dominant_Topic' ], axis = 1, inplace = True)

In [12]:
lda_data.head()

  Status   Topic_0   Topic_1   Topic_2   Topic_3
0   True  0.955739  0.000890  0.000892  0.042479
1   True  0.572835  0.162470  0.263579  0.001116
2   True  0.207820  0.601269  0.001652  0.189259
3   True  0.060445  0.917274  0.020272  0.002009
4   True  0.818576  0.136466  0.042884  0.002074

**Etapa de Classificação**

In [13]:
from pycaret.classification import *

In [14]:
cl_news = setup(data = lda_data, target = 'Status', train_size = 0.8, session_id = 42)

In [15]:
models = compare_models()

In [16]:
rf_model = create_model('rf', fold = 10)

In [17]:
rf_tune = tune_model(rf_model,optimize = 'Precision')

In [18]:
et_model = create_model('et')

In [19]:
model_blend = blend_models([rf_model, et_model])

In [20]:
tune_blend = tune_model(model_blend, optimize = "Precision")

In [21]:
evaluate_model(tune_blend)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

**Etapa de NLP**

**Modelo utilizando NMF**

In [22]:
from pycaret.nlp import *

In [23]:
nmf_setup = setup(data = news,
                       target = 'text',
                      session_id = 42,
                      log_experiment = True,
                      experiment_name = 'log_nlp_15_07_22')

In [24]:
nmf_model = create_model('nmf')

In [26]:
nmf_data = assign_model(nmf_model)

In [27]:
nmf_data.head()

,text,subject,date,Status,Topic_0,Topic_1,Topic_2,Topic_3,Dominant_Topic,Perc_Dominant_Topic
0,budget fight loom flip fiscal script conservat...,politicsNews,"December 31, 2017",True,0.010765,0.0,0.004218,0.004843,Topic 0,0.54
1,military people allow first time enlist start ...,politicsNews,"December 29, 2017",True,0.010450,0.0,0.008259,0.002196,Topic 0,0.50
2,senior republican senator let investigation li...,politicsNews,"December 31, 2017",True,0.009593,0.0,0.022831,0.001596,Topic 2,0.67
3,help australian diplomat campaign tell austral...,politicsNews,"December 30, 2017",True,0.011002,0.0,0.016178,0.000000,Topic 2,0.60
4,want postal_service charge much call charge mu...,politicsNews,"December 29, 2017",True,0.006461,0.0,0.003981,0.004223,Topic 0,0.44

In [28]:
nmf_data.drop(['text', 'subject', 'date','Dominant_Topic', 'Perc_Dominant_Topic' ], axis = 1, inplace = True)

**Etapa de Classificação**

In [29]:
from pycaret.classification import *

In [30]:
cl_news_nmf = setup(data = nmf_data, target = 'Status', train_size = 0.8, session_id = 42)

In [31]:
compare_models()

ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                     criterion='gini', max_depth=None, max_features='auto',
                     max_leaf_nodes=None, max_samples=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=1, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
                     oob_score=False, random_state=42, verbose=0,
                     warm_start=False)

In [32]:
et_nmf_model = create_model('et')

In [33]:
rf_nmf_model = create_model('rf')

In [34]:
blend_model_nmf = blend_models([et_nmf_model,rf_nmf_model])

In [35]:
tune_nmf_model = tune_model(blend_model_nmf, optimize = "Precision")

In [36]:
final_model = finalize_model(tune_nmf_model)

In [38]:
save_model(final_model, "final_model")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[],
                                       ml_usecase='classification',
                                       numerical_features=[], target='Status',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_strat...
                                                                       max_leaf_nodes=None,
                                                                       max_samples=None,
                                                                       min_impurity_decrease=0.0,
                                                                       min_impurity_split=None,
                                                                       min_samples_leaf=1,
                                                                       min_samples_split=2,
                                                                       min_weight_fraction_leaf=0.0,
                                                                       n_estimators=100,
                                                                       n_jobs=-1,
                                                                       oob_score=False,
                                                                       random_state=42,
                                                                       verbose=0,
                                                                       warm_start=False))],
                                   flatten_transform=True, n_jobs=-1,
                                   verbose=False, voting='soft',
                                   weights=[0.05, 0.7100000000000001])]],
          verbose=False),
 'final_model.pkl')

In [39]:
client.fput_object("modelo",
                  "final_model.pkl",
                  "final_model.pkl")